.navbar-nav{
 
  background-color: transparent;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #d4af37;
}

.navbar-nav .nav-item {
    margin-left: 45px;
  }




